--index-url https://pypi.org/simple
#
# Default dependencies
#
## Forced to update packages due to JL issue with RStudio
ipython<8.0.0
notebook==6.4.6
jupyterhub==1.3.0
jupyterlab==3.1.18
jupyterlab-requirements==0.15.0
jupyter_kernel_gateway==2.4.0
jupyter-nbrequirements==0.7.3
supervisor==4.1.0
jupyterlab-git==0.30
jupyterlab-spellchecker==0.7.2
jupyter-server-proxy==3.2.1
