[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
# Base
jupyterlab = "~=3.5.3"

# Useful extensions
jupyter-resource-usage = "~=0.7.0"
jupyter-server = "~=2.1.0"
jupyter-server-proxy = "~=3.2.2"
jupyter-server-terminals = "~=0.4.4"
jupyterlab-git = "~=0.41.0"
nbdime = "~=3.1.1"
nbgitpuller = "~=1.1.1"

# Parent image requirements to maintain cohesion
thamos = "~=1.29.1"
wheel = "~=0.38.4"

[requires]
python_version = "3.9"