[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# TrustyAI-linked packages
trustyai = "==0.2.8"
#  Parent image requirements to maintain cohesion
# Datascience and useful extensions
Jpype1 = "1.4.1"
pyarrow = "7.0.0"
"elyra[kfp-tekton]" = "~=3.14.1"
black = "~=22.12.0"
boto3 = "~=1.26.41"
jupyter-bokeh = "~=3.0.5"
jupyter-contrib-nbextensions = "~=0.7.0"
jupyterlab-lsp = "~=3.10.2"
jupyterlab-tabnine = "~=0.0.24"
jupyterlab-widgets = "~=3.0.5"
kafka-python = "~=2.0.2"
numpy = "~=1.24.1"
plotly = "~=5.13.0"
scikit-learn = "~=1.2.1"
scipy = "~=1.10.0"
streamlit = "~=1.17.0"
# ---
jupyterlab = "~=3.5.3"
jupyter-resource-usage = "~=0.7.0"
jupyter-server = "~=2.1.0"
jupyter-server-proxy = "~=3.2.2"
jupyter-server-terminals = "~=0.4.4"
jupyterlab-git = "~=0.41.0"
nbdime = "~=3.1.1"
nbgitpuller = "~=1.1.1"
# ---
thamos = "~=1.29.1"
wheel = "~=0.38.4"
requests = "*"

[requires]
python_version = "3.9"
