-i https://pypi.org/simple
certifi==2023.7.22; python_version >= '3.6'
distlib==0.3.7
filelock==3.12.4; python_version >= '3.8'
pip==23.2.1; python_version >= '3.7'
pipenv==2023.8.28; python_version >= '3.7'
platformdirs==3.10.0; python_version >= '3.7'
py4j==0.10.9.7
pyspark==3.4.1; python_version >= '3.7'
setuptools==68.1.2; python_version >= '3.8'
virtualenv==20.24.5; python_version >= '3.7'
wheel==0.41.2; python_version >= '3.7'
